# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/sportzone?schema=public"

# Auth
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
GITHUB_OAUTH_CLIENT_REDIRECT_URI=""

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_CLIENT_REDIRECT_URI=""

# Email
RESEND_API_KEY=""

# Storage
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""

# Frontend URL
WEB_URL="http://localhost:5173"